trading_env/
logs/
data/
docs/
respaldo/
/reports/*
!/reports/senales_heuristicas/
/reports/senales_heuristicas/*
!/reports/senales_heuristicas/exploracion/
*.pyc
.ipynb_checkpoints/
*.parquet
.keys.sh
.env
runcon.sh
notebooks/*
!notebooks/staging/
!notebooks/sandbox/